.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}




.custom-red-bar {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  text-align: right;
  font-family: sans-serif;
}
