@import "tailwindcss";
@plugin "tailgrids/plugin";
@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";
@custom-variant dark (&:where(.dark, .dark *));



@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}
/*  */

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  body {
    @apply font-sans;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);



