@import "tailwindcss";
@plugin "tailgrids/plugin";
@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";
@custom-variant dark (&:where(.dark, .dark *));

/*  */

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);


