.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.custom-red-bar {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  text-align: right;
  font-family: sans-serif;
}


/* Rotate ApexCharts data labels vertically and make them red */
.apexcharts-datalabel {
    transform: rotate(-90deg);
    transform-origin: center;
    transform-box: fill-box;

    fill: #E2E6F5 !important;   /* Changes SVG text color */
    color: #E2E6F5 !important;  /* Backup for any non-SVG rendering */
}


.paren .apexcharts-datalabel {
    transform: rotate(0deg);
    transform-origin: center;
    transform-box: fill-box;
    fill: #000000 !important;
    color: #E2E6F5 !important;
}

/* Change background color and text color of header cells */
.ag-header-cell {
    background-color: #0e0606; /* green background */
    color: white;
    font-weight: bold; /* optional */
}

.text-red {
    background-color: #ffe6e6;
    color: red;
}


.text-green {
    background-color: #e6ffe6;
    color: green;
}


/* Targeting the wrapper inside ag-header-group-cell */
:where(.ag-header-group-cell) .ag-header-cell-comp-wrapper {
  display: flex;
  justify-content: center; /* Horizontally center the header content */
  align-items: center;     /* Vertically center the header content */
}

